<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class='container'>
    <h1>Cocktails</h1>

    <ul>
        <% for (let i = 0; i < alcoholList.length; i++) { %>
            <li><a href='?alcoholType=<%= alcoholList[i] %>'><%= alcoholList[i]  %></a></li> 
            <% } %>
            <li><a href='/'>All</a></li>
    </ul> 

    <table>
        <tr>
            <th>NAME</th>
            <th>PRICES</th>
        </tr>
        
            <% for (let i = 0; i < cocktails.length; i++) { %>
                <% if (cocktails[i].isAlcoholic === false) { %>
                <tr>
                    <td><strong><%= cocktails[i].name  %></strong> <%= '(non-alcoholic)' %> <br> 
                        <%= cocktails[i].contains %> </td>
                    <td class='price'> <strong><%= cocktails[i].price + ' Ft' %></strong></td>
                </tr>
                <% }else { %>
                <tr>
                        <td><strong><%= cocktails[i].name  %></strong><br> 
                            <%= cocktails[i].contains %> </td>
                        <td class='price'> <strong><%= cocktails[i].price + ' Ft' %></strong></td>
                    </tr>
                <% } %>
                <% } %>
    </table>
    </div>

</body>
</html>